<div class="card">
  <div class="header">
    <h1 class="title">Airports</h1>
  </div>

  <div *ngIf="isLoading" class="content">... is loading</div>

  <div *ngIf="!isError" class="content">
    <div class="row">
      <div *ngFor="let airport of airports" class="col-lg-3">
        {{airport}}
      </div>
    </div>
  </div>
  <div *ngIf="isError" class="content">
    {{ errorMessage }}
  </div>

  <div *ngIf="!isError" class="content">
    <div class="row">
      <div *ngFor="let airport of takeUntilAirports" class="col-lg-3">
        {{airport}}
      </div>
    </div>
  </div>
</div>
