<div class="card">
  <div class="header">
    <h1 class="title">Lookahead</h1>
  </div>

  <div class="content">
    <div class="control-group">
      <label>From City</label>
      <input [formControl]="control" class="form-control" autocomplete="off">
    </div>

    <div [ngStyle]="{ 'background-color' : online ? 'green' : 'red' }">Online: {{ online }}</div>
  </div>
</div>

<div class="card">
  <div class="content">
    <div>
      <span *ngIf="isLoading">... loading ...</span>
      <span *ngIf="!isLoading && (diff$ | async) as diff">Diff: {{ diff }}</span>
      &nbsp;
    </div>

    <table *ngIf="(flights$ | async) as flights" class="table table-striped">
      <tr *ngFor="let flight of flights">
        <td>{{flight.id}}</td>
        <td>{{flight.from}}</td>
        <td>{{flight.to}}</td>
        <td>{{flight.date | date:'dd.MM.yyyy HH:mm'}}</td>
      </tr>
    </table>
  </div>
</div>
